// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.well {
    background: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}



.row{
	
	border:solid
}

.center {
    margin: auto;
    width: 75%;
    padding: 10px;
}

h5{
	text-align: center;
	 text-decoration: underline;
}

p{
	margin-left:5px
}